.card-body:hover{
    box-shadow: 1px 1px 5px lightgrey;
}
.card-body{
    height: 370px;
}
.card-body:hover .client-avatar{
    position: relative;
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
    margin-bottom: 15px;
}
.goods_name{
    overflow: hidden;/*超出部分隐藏*/
    text-overflow:ellipsis;/* 超出部分显示省略号 */
    white-space: nowrap;/*规定段落中的文本不进行换行 */
}
.catalog{
    margin-left: 10px;
    margin-top: 10px;
}
.row::-webkit-scrollbar {
    display: none;
}
.pagination{
    margin-top: 30px;
    margin-bottom: 30px;
}
.catalog-parent{
    display: none;
    border-radius: 10px;
    position: relative;
    height: 300px;
    background-color:white;
    overflow: hidden;
    transition: 0.1s ease-in-out;
    animation: show 0.5s ease-in-out;
    box-shadow: 1px 1px 5px lightgrey;
}
.catalog-parent ul:nth-child(1){
    position: relative;
    left: -50px;
    display: block;
    width: 200px;
}
.catalog-parent ul:nth-child(2){
    left: -300px;
}
.catalog-parent ul li{
    display: block;
    white-space: nowrap;
    text-wrap: none;
    position: relative;
    width: 200px;
    list-style: none;
    color:black;
    text-align: left;
}
.catalog-parent ul:nth-child(3){
    display: flex;
}
.catalog-parent ul:nth-child(1) li:hover{
    background-color: rgba(0, 0, 0, 0.63);
    color: white;
}
.show_children li:hover{
    background-color: rgba(0, 0, 0, 0.63);
    color: white;
}
@keyframes show {
    0%{height: 0;}
    100%{height: 300px;}
}
.show_children{
    display: flex;
}
a{
    text-decoration: none;
    color: #0b2e13;
}
a:hover{
    text-decoration: none;
}