#img_file_container{
    position: absolute;
    opacity: 0;
    top:0;
    width: 100%;
    height: 100%;
}
#img_upload_container{
    position: absolute;
    width: 100%;
    height: 100%;
}
.img_upload{
     position: absolute;
     top:0px;
     width: 100%;
     height: 100%;
 }