
body{
    height:100vh;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    background-image:url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557683314815&di=1eb073d7fc18d42cf20f02ade6ea18e6&imgtype=0&src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2F3%2F5858a0ab1ceb6.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
.container{
    position: relative;
}
.logo{
    position: relative;
    width:100px;
    height:100px;
    margin: 0 auto;
    top:20px;
}
.logo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.show_user{
    position: relative;
    width: 200px;
    height: 85px;
    margin: 0 auto;
    text-align: center;
    top:20px;
}
.show_user h1{
    font-size: 24px;
    font-weight: 300;
    color: white;
}
.reset{
    width: 400px;
    min-height: 300px;
    height:auto;
    position: relative;
    margin: 0 auto;
    top:20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #eeeeee;
}
form{
    width: 85%;
    position: relative;
    margin: 0 auto;
    top:20px;
}
form input{
    width: 100%;
    border-radius: 2px;
    border:1px solid #b6b6b6;
    height: 35px;
}
form input:focus{
    outline: 3px solid #02aaf1;
}
form h1{
    font-size: 18px;
    font-weight: lighter;
}
input[type="submit"]{
    border:0px;
    height: 50px;
    background-color: #0cca62;
    font-size:20px;
    text-align: center;
    color: white;
}
input[type="button"]{
    border:0px;
    height: 50px;
    background-color: #0cca62;
    font-size:20px;
    text-align: center;
    color: white;
}
#submit_t{
    border:0px;
    height: 50px;
    background-color: darkgrey;
    font-size:20px;
    text-align: center;
    color: white;
    margin-top: 20px;
}
a{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
@media screen and (max-width:690px){
    body{
        background-image: url("https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1557683451120&di=f4e36a8733217f9290060b03b0a99f03&imgtype=0&src=http%3A%2F%2Fb-ssl.duitang.com%2Fuploads%2Fitem%2F201806%2F03%2F20180603232440_qwqcn.jpeg");
    }
    .reset{
        width:90%;
        min-height: 300px;
        height:auto;
        position: relative;
        margin: 0 auto;
        background-color: white;
        border-radius: 5px;
        top:0px;
    }
    .show_user h1{
        font-size: 20px;
        font-weight: 300;
        color: white;
        line-height: 20px;
    }
}