<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<div><img src="test.png" alt="">{{$test}}</div>
@for($i=0;$i<$data;$i++)
<div>{{$i}}</div>
@endfor
@foreach($user as $item)
<div>用户名:{{$item['name']}}</div>
<div>密码:{{$item['password']}}</div>
@endforeach
@switch($i)
@case("test")
echo "test";
@break;
@case("test1")
echo "test123"
@break;
@default
{{$_SESSION['CODE']}}
@endswitch
<script>
</script>
</body>
</html>