<!DOCTYPE html>
<html>
<head>
    <title>titang重置密码</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{path}}asset/css/reset_password.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <a href="http://39.108.236.127/#/home">
        <div class="logo">
            <img src="http://39.108.236.127/image/logo.png" alt="logo">
        </div>
    </a>
    <div class="show_user">
        <h1>重置密码</h1>
        <h1>{{name}}</h1>
    </div>
    <div class="reset">
        <form action="http://39.108.236.127/php/public/index.php/user/reset" method="post" onsubmit="return check()">
            <h1>新的密码</h1>
            <input type="password" name="password" id="password">
            <br>
            <h1>确认密码</h1>
            <input type="password" name="password_sure" id="password_sure">
            <input type="submit" value="立刻修改" style="margin-top: 20px;">
            <input type="hidden" name="_method" value="PUT">
            <input type="hidden" name="token" value="{{token}}">
            <input type="hidden" name="name" value="{{name}}">
        </form>
    </div>
</div>
</body>
<script src="{{path}}asset/js/check.js"></script>
<script src="{{path}}asset/js/common.js"></script>
</html>