* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: '寰蒋闆呴粦';
}

input::-webkit-input-placeholder {
    font-family: '寰蒋闆呴粦';
}

a {
    color: #333;
}

/*浠婃棩鐗逛环鐨勮疆鎾�*/
.swiper-warp {
    width: 1200px;
    height: 230px;
    margin: 0 auto;
    position: relative;
}

.thehead-tj-bottom .swiper-container {
    width: 1110px;
    height: 230px;
    margin: 0 auto;
    margin-top: 6px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.swiper-warp .swiper-button-prev {
    background-image: none;
    outline: 0;
    border: 0;
}

.swiper-warp .swiper-button-next {
    background-image: none;
    transform: rotate(180deg);
    outline: 0;
    border: 0;
}

/*banner杞挱*/
.thehead-banner .banner-warp{
    width: 100%;
    height: 545px;
}
.banner-warp .banner-box{
    width: 300%;
    height: 545px;
}

.swiper2 .swiper-pagination-bullet{
    width: 8px;
    height: 8px;
    background-color: rgba(255,255,255,.8);
}
.swiper2 .swiper-pagination-bullet-active{
    width: 30px;
    height: 8px;
    border-radius: 8px;
    background-color: #fff;
}


/*鍙充晶*/
.right{
    height: 208px;
    width: 40px;
    position: fixed;
    right: 0;
    top: 150px;
    z-index: 999;
}
.right>div{
    width: 40px;
    height: 40px;
    margin-top: 2px;
    background-color: #2B3E63;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right>div:hover{
    background-color: #FE2C76;
}
.right>div:nth-of-type(1){
    margin-top: 0;
}
.right-kefu{
    position: relative;
}
.right-kefu-hover{
    position: absolute;
    top: 0;
    right: -200px;
    width: 200px;
    height: 40px;
    background-color: #FE2C76;
    transition: .5s;
}
.right-kefu-hover p{
    width: 160px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    float: left;
}
.right-kefu-hover a{
    display: block;
    width: 40px;
    height: 40px;
    float: left;
}
.right-kefu-hover a img{
    margin: 9px 10.5px;
}

.right-kefu:hover .right-kefu-hover{
    right: 0;
}
.right-dh{
    position: relative;
}

.right-number{
    position: absolute;
    top: 0;
    width: 200px;
    height: 40px;
    right: -200px;
    background-color: #FE2C76;
    transition: .5s;
}
.right-number p{
    width: 160px;
    height: 40px;
    float: left;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
}
.right-number div{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}
.right-dh:hover .right-number{
    right: 0;
    transition: .5s;
}
.right-sc{
    position: relative;
}
.right-sc-hover{
    position: absolute;
    width: 200px;
    height: 40px;
    background-color: #FE2C76;
    right: -200px;
    top: 0;
    transition: .5s;
}
.right-sc-hover p{
    width: 160px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    float: left;
}
.right-sc-hover a{
    width: 40px;
    height: 40px;
    float: left;
}
.right-sc-hover a img{
    margin: 10px 9.5px;
}

.right-sc:hover .right-sc-hover{
    right: 0;
}

.right-weixin{
    position: relative;
}

.erweima{
    position: absolute;
    right: 42px;
    top: -35px;
    opacity: 0;
    transition: .5s;
}
.right-weixin:hover .erweima{
    opacity: 1;
}






#app {
    min-width: 1200px;
}

.thehead-advertising {
    width: 100%;
    height: 90px;
    background-image: url("https://www.tmxiaoer.com/kuxiaoer/images/theHead/index-top.jpg");
}

.thehead-advertising .thehead-advertising-bx {
    position: relative;
    width: 1200px;
    height: 90px;
    margin: 0 auto;
}

.thehead-advertising-bx img {
    position: absolute;
    top: 20px;
    right: 0;
    width: 40px;
    height: 40px;
}

.thehead-title-all .thehead-title-ul {
    display: block;
}

.title1 {
    color: #FE2C76;
}

/*---------------------------杩欓儴鍒嗘槸宸﹁竟瀹氫綅閮ㄥ垎*/
.thehead-title-input {
    position: absolute;
    top: 40px;
    right: 0;
    width: 230px;
    height: 545px;
    background-color: #fff;
    z-index: 10;
}

.thehead-title-input .thehead-title-input-top {
    height: 184px;
    border-bottom: 1px dashed #ddd;
    width: 230px;
    overflow: hidden;
}

.thehead-title-input-top .thehead-title-input-head {
    margin: 26px auto 0px auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .1);
}

.thehead-title-input-head img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.thehead-title-input-top>p {
    text-align: center;
    font-size: 14px;
    height: 46px;
    line-height: 46px;
}

.thehead-title-input-top .thehead-title-input-btn {
    margin: 0 auto;
    width: 178px;
    height: 26px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    /* 	display: none; */
}

.thehead-title-input-btn a {
    width: 76px;
    height: 26px;
    background-color: #2B3E63;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    line-height: 26px;
    display: block;
}

.thehead-title-input-btn a:nth-of-type(2) {
    background: -webkit-linear-gradient(left, #FE2C76, #FB7D07);
    /*娓愬彉*/
}

.thehead-title-input .thehead-title-input-ipt {
    width: 230px;
    height: 194px;
    border-bottom: 1px dashed #ddd;
    overflow: hidden;
}

.thehead-title-input-ipt>p {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    height: 49px;
    line-height: 60px;
}

.thehead-title-input-ipt .thehead-title-input-ipt-item {
    margin: 1px auto 10px auto;
    width: 178px;
    height: 30px;
    border: 1px solid #ddd;
}

.thehead-title-input-ipt-item input {
    border: 0;
    outline: 0;
    width: 178px;
    height: 30px;
    font-size: 12px;
    text-indent: 10px;
    color: #333;
    font-family: "寰蒋闆呴粦";
}

.thehead-title-input-ipt a {
    display: block;
    width: 180px;
    border-radius: 2px;
    height: 32px;
    margin: 0 auto;
    text-align: center;
    line-height: 32px;
    font-size: 12px;
    color: #fff;
    box-shadow: 2px 4px 12px rgba(43, 62, 99, .1);
    background: -webkit-linear-gradient(left, #FE2C76, #FB7D07);
    /*娓愬彉*/
}

.thehead-title-input .thehead-title-input-icon {
    height: 164px;
    width: 180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.thehead-title-input-icon .thehead-title-input-icon-item {
    display: block;
    height: 82px;
    font-size: 12px;
    color: #999;
    text-align: center;
}

.thehead-title-input-icon-item img {
    margin-top: 15px;
}
.thehead-title-input-icon-item p{
    margin-top: 10px;
}

/*=============================================================浠ヤ笂鏄痶itle閮ㄥ垎======================================================*/
.thehead-banner {
    width: 100%;
    height: 545px;
    overflow: hidden;
    min-width: 1600px;
}

.thehead-banner img {
    width: 100%;
    height: 545px;
    float: left;
}

/*=============================================================浠ヤ笂鏄痓anner=========================================================*/
.thehead-case {
    width: 1200px;
    height: 145px;
    margin: 0 auto;
    box-shadow: 2px 4px 12px rgba(43, 62, 99, .1);
    border-radius: 2px;
    background-color: #fff;
}

.thehead-case .thehead-case-top,
.thehead-case .thehead-case-bottom {
    width: 1200px;
    height: 98px;
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom: 1px dashed #ddd;
    display: flex;
    justify-content: center;
}

.thehead-case-top>p {
    font-size: 24px;
    color: #333;
    font-weight: 600;
    line-height: 98px;
    margin-right: 20px;
}

.thehead-case-top .thehead-case-top-ipt {
    width: 465px;
    height: 40px;
    border: 1px solid #2B3E63;
    border-radius: 2px;
    overflow: hidden;
    margin-top: 30px;
    display: flex;
    color: #C9C9C9;
    cursor: pointer;
}

.thehead-case-top-ipt input {
    width: 351px;
    height: 40px;
    text-indent: 15px;
    font-size: 14px;
    color: #333;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-family: "寰蒋闆呴粦";
}

.thehead-case-top-ipt p {
    width: 114px;
    background-color: #2B3E63;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    color: #fff;
}

.thehead-case .thehead-case-bottom {
    height: 47px;
    border: 0;
}

.thehead-case-bottom .thehead-case-img-warp {
    width: 144px;
}

.thehead-case-bottom .thehead-case-img-warp>img {
    height: 27px;
    width: 121px;
    margin-top: 10px;
    float: right;
}

.thehead-case-bottom .thehead-case-bottom-rolls {
    height: 47px;
    width: 465px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.thehead-case-bottom-rolls .thehead-case-roll1 {
    width: 205px;
    height: 47px;
    overflow: hidden;
}

.thehead-case-roll1 ul li {
    display: flex;
    font-size: 12px;
    line-height: 47px;
}

.thehead-case-roll1 ul li img {
    width: 12px;
    height: 12px;
    margin-top: 17px;
}

.thehead-case-roll1 ul li span {
    margin: 0px 5px;
}

.thehead-case-roll1 ul li span:nth-last-child(2) {
    color: #FE2C76;
}

.anim2 {
    transition: .5s;
    margin-top: -47px;
}


/*================寮圭獥===================*/
.popup{
    width: 680px;
    height: 426px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
    margin-top: -213px;
    margin-left: -340px;
    background-color: #fff;
    box-shadow: 2px 4px 12px rgba(43, 62, 99, .1);
    display: none;
}
.pop-img-x{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}
.popup-ipt{
    margin: 40px auto 20px auto;
    width: 465px;
    height: 40px;
    border: 1px solid #FE2C76;
    display: flex;
    overflow: hidden;
    border-radius: 4px;
}
.popup-ipt input{
    width: 351px;
    height: 40px;
    border: 0;
    outline: 0;
    background-color: #fff;
    text-indent: 15px;
    color: #333;
    margin: 0;
    font-family: "寰蒋闆呴粦";
}
.popup-ipt p{
    width: 114px;
    height: 40px;
    background-color: #FE2C76;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.popup-content{
    width: 660px;
    margin: 0 auto;
}
.popup-content>p{
    width: 660px;
    height: 40px;
    font-size: 18px;
    color: #333;
    line-height: 40px;
    text-indent: 20px;
    background-color: #F6F6F6;
}
.popup-content>p span:nth-of-type(2n){
    color: #2B3E63;
}
.popup-title{
    width: 660px;
    height: 40px;
    background-color: #F0f4ff;
    line-height: 39px;
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
}
.popup-title p,.popup-txt p{
    float: left;
}
.popup-title p:nth-of-type(1),
.popup-title p:nth-of-type(2),
.popup-title p:nth-of-type(3),
.popup-txt p:nth-of-type(1),
.popup-txt p:nth-of-type(2),
.popup-txt p:nth-of-type(3){
    width: 100px;
}
.popup-title p:nth-of-type(4),
.popup-txt p:nth-of-type(4){
    width: 200px;
}
.popup-title p:nth-of-type(5){
    width: 160px;
}
.popup-txt a{
    width: 160px;
    color: #FE2C76;
}
.popup-txt{
    width: 660px;
    height: 40px;
    background-color: #F6F6F6;
    line-height: 39px;
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}
.popup-txt:hover{
    background-color: rgba(255,44,118,.3);
}
.popup-text{
    background-color: #F6F6F6;
    height: 120px;
    overflow: hidden;
}
.popup-content .pop-btn{
    display: block;
    width: 145px;
    height: 34px;
    margin: 20px auto 10px auto;
    text-align: center;
    line-height: 34px;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    background: -webkit-linear-gradient(left, #FE2C76, #FB7D07);
}
.popup-ts{
    height: 14px;
    color: #878787;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-ts img{
    margin-right: 3px;
}

/*============================================================浠ヤ笂鏄垚鍔熸渚�=============================================================*/
.thehead-content1 {
    width: 1200px;
    height: 500px;
    margin: 30px auto 40px auto;
    box-shadow: 2px 4px 12px rgba(43, 62, 99, .1);
    background-color: #fff;
}

.thehead-content-title {
    width: 1200px;
    height: 128px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
}

.thehead-content-title>img {
    display: block;
    margin: 0 auto;
    margin-top: 45px;
}

.thehead-content1 .thehead-content1-icon45 {
    width: 1200px;
    height: 372px;
    background-color: #fff;
    margin: 0 auto;
    overflow: hidden;
}

.thehead-content1-icon45 ul {
    width: 1145px;
    height: 351px;
    margin: 0 auto;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.thehead-content1-icon45 ul li a{
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: 228px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    line-height: 38px;
    font-size: 14px;
    float: left;
    cursor: pointer;
}

.thehead-content1-icon45 ul li img {
    width: 30px;
    height: 15px;
    margin-top: 11px;
    margin-right: 50px;
}

.thehead-content1-icon45 ul li p:nth-of-type(1) {
    margin-left: 10px;
    font-size: 14px;
    color: #333;
}

.thehead-content1-icon45 ul li p:nth-last-child(1) {
    margin-right: 10px;
    color: #999;
    font-size: 12px;
}

.thehead-content1-icon45 ul li:hover a{
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
}

/*=========================================================浠ヤ笂鏄痗ontent1閮ㄥ垎---45涓垎绫�===============================================*/

.thehead-content2 {
    margin-top: 40px;
    margin: 0 auto;
    width: 100%;
    height: 473px;
    overflow: hidden;
    background-color: #fff;
}

.thehead-content2 .thehead-content2-txt1 {
    width: 1200px;
    height: 325px;
    margin: 0 auto;
    background-image: url("https://www.tmxiaoer.com//kuxiaoer/images/theHead/index-bg1.png");
    background-size: 100%;
    box-shadow: 2px 4px 12px rgba(43, 62, 99, .1);
}

.thehead-content2-txt1 .thehead-tj-top {
    width: 1110px;
    height: 72px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.thehead-tj-top .thehead-tj-top-left img {
    margin-top: 25px;
    float: left;
}

.thehead-tj-top .thehead-tj-top-left p {
    float: left;
    margin-left: 10px;
    line-height: 100px;
    color: #fff;
}

.thehead-tj-top .thehead-tj-top-center img {
    margin-top: 25px;
    float: left;
}

.thehead-tj-top .thehead-tj-top-center p {
    float: left;
    line-height: 72px;
    color: #fff;
}

.thehead-tj-top .thehead-tj-top-center .tj-right-left {
    margin: 0 10px;
}

.thehead-tj-top .thehead-tj-top-center .tj-bg {
    margin-top: 12px;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    background-color: #333;
    text-align: center;
    line-height: 48px;
    font-weight: 600;
    font-size: 24px;
}

.thehead-tj-top .thehead-tj-top-right p {
    float: left;
    line-height: 72px;
    color: #fff;
    margin-right: 10px;
}

.thehead-tj-top .thehead-tj-top-right img {
    margin-top: 25px;
    float: left;
}

.thehead-tj-bottom {
    width: 1200px;
    height: 253px;
    border-top: 1px dotted rgba(255, 255, 255, .2);
}

.thehead-tj-bottom>img {
    margin-left: 12px;
    margin-right: 17px;
}
.thehead-tj-bottom .left1,.thehead-tj-bottom .right1{
    width: 20px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thehead-tj-bottom>img:nth-last-child(1) {
    transform: rotate(180deg);
    margin-left: 17px;
    margin-right: 12px;
}

.thehead-tj-bottom-content-warp {
    width: 1110px;
    height: 230px;
    overflow: hidden;
    position: relative;
}

.thehead-tj-bottom .thehead-tj-bottom-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 3330px;
    height: 230px;
    background-color: #fff;
    /* transition: .1s; */
    /* animation: lunbo 12s linear infinite; */
}

.swiper-slide .thehead-tj-bottom-item {
    width: 185px;
    height: 230px;
    float: left;
    box-sizing: border-box;
    border-left: 1px solid #ddd;
    display: block;
}
.swiper-slide{
    box-sizing: border-box;
    border-left: 1px solid #ddd;
}

.thehead-tj-bottom-item>img {
    width: 118px;
    height: 124px;
    display: block;
    margin: 30px auto 0;
}

.thehead-tj-bottom-item>p {
    text-align: center;
    font-size: 12px;
    color: #333;
    margin-top: 15px;
    height: 15px;
    line-height: 15px;
}

.thehead-tj-bottom-content .thehead-tj-bottom-item:nth-of-type(1) {
    border: 0;
}

.thehead-tj-bottom-item .thehead-tj-item-btn {
    width: 163px;
    height: 24px;
    margin: 10px auto 0;
    border: 1px solid #FE2C76;
    display: flex;
    overflow: hidden;
}

.thehead-tj-bottom-item .thehead-tj-item-btn p:nth-of-type(1) {
    width: 91px;
    height: 24px;
    background-color: #FE2C76;
    font-size: 14px;
    text-align: center;
    line-height: 24px;
    color: #fff;
}

.thehead-tj-bottom-item .thehead-tj-item-btn p:nth-last-child(1) {
    width: 71px;
    height: 24px;
    background-color: #fff;
    font-size: 11px;
    color: #ddd;
    text-align: center;
    line-height: 24px;
    text-decoration: line-through;
}

.thehead-tj-bottom-item:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
}


/*------------------------浠ヤ笂鐗逛环-------------------*/
.thehead-content3-warp {
    width: 100%;
    height: 600px;
    background-color: #fff;
    overflow: hidden;
}

.thehead-content3 {
    width: 1200px;
    height: 452px;
    margin: 0 auto;
}

.thehead-content3-item {
    width: 595px;
    height: 452px;
    float: left;
    margin-left: 10px;
    box-shadow: 2px 4px 12px rgba(43, 62, 99, .1);
}

.thehead-content3-item:nth-of-type(1) {
    margin: 0;
}

.thehead-content3-item-top {
    height: 60px;
    margin: 15px auto 0;
    width: 570px;
}

.thehead-content3-item-top .thehead-content3-item-title {
    float: left;
    font-size: 20px;
    font-weight: 600;
    color: #333;
    height: 60px;
    margin-right: 10px;
}

.thehead-content3-item-top>p {
    float: left;
    line-height: 32px;
    color: #777;
}

.thehead-content3-item-title p:nth-of-type(2) {
    height: 4px;
    background-color: #FE2C76;
    width: 40px;
    margin-top: 10px;
}

.thehead-content3-item-top .thehead-content3-item-btn {
    display: block;
    float: right;
    width: 58px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid #C9C9C9;
    font-size: 12px;
    text-align: center;
    line-height: 15px;
    margin-top: 5px;
    cursor: pointer;
}
.thehead-content3-item-btn:hover{
    border: 1px solid #FE2C76;
    color: #FE2C76;
}
.thehead-content3-item-center {
    height: 300px;
    width: 570px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-bottom: 0;
    border-right: 0;
}

.thehead-content3-item-center>img {
    float: left;
    width: 219px;
    height: 299px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.thehead-content3-item-center .thehead-content3-img-items {
    width: 350px;
    height: 300px;
    float: right;
}

.thehead-content3-img-items .thehead-content3-img-item {
    float: left;
    width: 175px;
    height: 150px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}

.thehead-content3-img-item img {
    width: 120px;
    height: 120px;
    display: block;
    margin: 15px auto 0 auto;
}

.thehead-content3-item-bottom {
    width: 570px;
    height: 64px;
    margin: 7px auto 0;
}

.thehead-content3-item-bottom .thehead-content3-item-bottom-img {
    width: 95px;
    height: 64px;
    float: left;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-left: 0;
    display: block;
}

.thehead-content3-item-bottom .thehead-content3-item-bottom-img:nth-of-type(1) {
    border-left: 1px solid #ddd;
}

.thehead-content3-item-bottom img {
    width: 65px;
    height: 45px;
    display: block;
    margin: 9.5px auto 9.5px auto;
}

.thehead-content3-img-item:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
}

.thehead-content3-item-bottom-img:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
}

/*=========================================================浠ヤ笂鏄痗onten2閮ㄥ垎---鐗逛环鍟嗘爣======================================================*/

/*============================================鐑棬鍟嗘爣寮€濮�=======================================*/
.thehead-bg-warp,
.thehead-bg-warp2,
.thehead-bg-warp3,
.thehead-bg-warp4,
.thehead-bg-warp5,
.thehead-bg-warp6 {
    width: 100%;
    height: 602px;
    background-image: url('/template/xiaoer//banner/index-iconbg1.png');
    background-size: 100% 100%;
    overflow: hidden;
}

.thehead-bg-warp2 {
    background-image: url("/template/xiaoer//banner/index-iconbg2.png");
}

.thehead-bg-warp3 {
    background-image: url("/template/xiaoer//banner/index-iconbg3.png");
}

.thehead-bg-warp4 {
    background-image: url("/template/xiaoer//banner/index-iconbg4.png");
}

.thehead-bg-warp5 {
    background-image: url("/template/xiaoer//banner/index-iconbg5.png");
}

.thehead-bg-warp6 {
    background-image: url("/template/xiaoer//banner/index-iconbg6.png");
}

/*浠ヤ笂鐑棬鍟嗘爣鑳屾櫙鍥剧墖*/
.thehead-bg-item,
.thehead-bg-item2,
.thehead-bg-item3,
.thehead-bg-item4,
.thehead-bg-item5,
.thehead-bg-item6 {
    width: 100%;
    height: 602px;
    background-color: rgba(251, 143, 28, .85);
    overflow: hidden;
}

.thehead-bg-item2 {
    background-color: rgba(45, 130, 253, .85);
}

.thehead-bg-item3 {
    background-color: rgba(250, 108, 90, .85);
}

.thehead-bg-item4 {
    background-color: rgba(63, 181, 124, .85);
}

.thehead-bg-item5 {
    background-color: rgba(255, 203, 15, .85);
}

.thehead-bg-item6 {
    background-color: rgba(123, 71, 218, .85);
}

/*浠ヤ笂鐑棬鍟嗘爣鑳屾櫙鑹�*/
.thehead-bg-box {
    width: 1200px;
    height: 426px;
    margin: 88px auto;
}

.thehead-bg-box .thehead-bg-box-left {
    width: 260px;
    height: 350px;
    float: left;
    margin-top: 38px;
    position: relative;
}

.thehead-bg-box-left>p:nth-of-type(1) {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}

.thehead-bg-box-left>p:nth-of-type(2) {
    margin-top: 30px;
    font-size: 36px;
    color: #fff;
    font-weight: 600;
}

.thehead-bg-box-left>p:nth-of-type(3) {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 2px;
    width: 50px;
    background-color: #fff;
}

.thehead-bg-box-left>p:nth-of-type(4) {
    font-size: 14px;
    color: rgba(255, 255, 255, .6);
    line-height: 20px;
    width: 200px;
}

.thehead-bg-box-left .thrhead-bg-box-a1,
.thehead-bg-box-left .thrhead-bg-box-a2,
.thehead-bg-box-left .thrhead-bg-box-a3,
.thehead-bg-box-left .thrhead-bg-box-a4,
.thehead-bg-box-left .thrhead-bg-box-a5,
.thehead-bg-box-left .thrhead-bg-box-a6 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 154px;
    height: 40px;
    background-color: #0091fe;
    border-radius: 2px;
    font-size: 12px;
    color: #fff;
    bottom: 0;
}
.thrhead-bg-box-a1 img,.thrhead-bg-box-a2 img,
.thrhead-bg-box-a3 img,.thrhead-bg-box-a4 img,
.thrhead-bg-box-a5 img,.thrhead-bg-box-a6 img{
    margin-left: 5px;
}
/*--------------娴烽噺鍟嗘爣鏄剧ず鏁堟灉-------------*/
.rm02,.rm03,.rm04{
    display: none;
}
.rm12,.rm13,.rm14{
    display: none;
}
.rm22,.rm23,.rm24{
    display: none;
}
.rm32,.rm33,.rm34{
    display: none;
}
.rm42,.rm43,.rm44{
    display: none;
}
.rm52,.rm53,.rm54{
    display: none;
}
.thehead-bg-box-title .actives{
    background-color: #fff;
    color: #000;
}

/*鎸夐挳鑹�*/
.thehead-bg-box-left .thrhead-bg-box-a2 {
    background-color: #fa8f1b;
}

.thehead-bg-box-left .thrhead-bg-box-a3 {
    background-color: #d278fe;
}

.thehead-bg-box-left .thrhead-bg-box-a4 {
    background-color: #03aefe;
}

.thehead-bg-box-left .thrhead-bg-box-a5 {
    background-color: #fb4f4b;
}

.thehead-bg-box-left .thrhead-bg-box-a6 {
    background-color: #ff5a0a;
}

/**/
.thehead-bg-box .thehead-bg-box-right {
    width: 940px;
    height: 426px;
    float: left;
}

.thehead-bg-box-title {
    width: 940px;
    height: 50px;
}

.thehead-bg-box-title p {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    width: 234px;
    height: 50px;
    float: left;
    text-align: center;
    line-height: 50px;
    color: #fff;
    background-color: rgba(255, 255, 255, .2);
    cursor: pointer;
    margin-left: 1px;
}

.thehead-bg-box-title p:nth-of-type(1) {
    margin-left: 0;
    width: 235px;
}

.thehead-bg-box-title .box5:nth-last-child(1) {
    width: 469px;
}

.thehead-bg-box-title .bg1-hovor {
    background-color: #fff;
    color: #FB8F1C;
}

.thehead-bg-box-title .bg1-hovor2 {
    background-color: #fff;
    color: #FB8F1C;
}

.thehead-bg-box-title .bg1-hovor3 {
    background-color: #fff;
    color: #FB8F1C;
}

.thehead-bg-box-title .bg1-hovor4 {
    background-color: #fff;
    color: #FB8F1C;
}

.thehead-bg-box-title .bg1-hovor5 {
    background-color: #fff;
    color: #FB8F1C;
}

.thehead-bg-box-title .bg1-hovor6 {
    background-color: #fff;
    color: #FB8F1C;
}

.thehead-bg-box-txt {
    width: 940px;
    height: 376px;
}

.thehead-bg-box-txt .thehead-bg-box-txt-item {
    width: 188px;
    height: 188px;
    display: block;
    background-color: #FFF;
    box-sizing: border-box;
    float: right;
    border-left: 1px solid #ddd;
    z-index: 5;
}

.thehead-bg-box-txt-item:nth-of-type(1),
.thehead-bg-box-txt-item:nth-of-type(2),
.thehead-bg-box-txt-item:nth-of-type(3),
.thehead-bg-box-txt-item:nth-of-type(4) {
    /* border-right: 1px solid #ddd; */
    border-bottom: 1px solid #ddd;
}

.thehead-bg-box-txt-item:nth-of-type(5) {
    border-bottom: 1px solid #ddd;
    border-right: 0;
}

.thehead-bg-box-txt-item:nth-last-child(1) {
    border: 0;
}

.thehead-bg-box-txt-item img {
    width: 124px;
    height: 124px;
    display: block;
    margin: 32px auto;
}

.thehead-bg-box-txt .thehead-bg-box-txt-item:hover {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
    z-index: 10;
}


/*鍟嗘爣鐚庡ご閮ㄥ垎*/
.thehead-bottom {
    width: 1200px;
    height: 376px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
}

.thehead-bottom .thehead-bottom-title {
    width: 595px;
    height: 376px;
    box-shadow: 2px 4px 12px rgba(43, 62, 99, .1);
}

.thehead-bottom-title .thehead-bottom-title-img {
    width: 570px;
    height: 272px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
}

.thehead-bottom-img-hover1 {
    width: 220px;
    height: 272px;
    float: left;
    position: relative;
}

.thehead-bottom-img-hover1 img {
    width: 220px;
    height: 272px;
}

.thehead-bottom-title-img .thehead-bottom-img-items {
    width: 350px;
    height: 272px;
    float: right;
}

.thehead-bottom-img-items .thehead-bottom-img-item {
    width: 174px;
    height: 136px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-left: 1px solid #fff;
    position: relative;
    overflow: hidden;
}

.thehead-bottom-img-items .thehead-bottom-img-item:nth-of-type(1),
.thehead-bottom-img-items .thehead-bottom-img-item:nth-of-type(2) {
    border-bottom: 1px solid #fff;
}

.thehead-bottom-img-items .thehead-bottom-img-item img {
    width: 174px;
    height: 137px;
    transition: .5s;
}

.thehead-bottom-hover {
    position: absolute;
    width: 174px;
    height: 136px;
    background-color: rgba(0, 0, 0, .6);
    margin-top: 174px;
    transition: .5s;
}

.thehead-bottom-hover a {
    display: block;
    height: 20px;
    width: 90px;
    border-radius: 20px;
    background-color: #FE2C76;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
    margin: 58px auto;
}

.thehead-bottom-hover1 {
    position: absolute;
    width: 220px;
    height: 272px;
    top: 272px;
    left: 0;
    background-color: rgba(0, 0, 0, .6);
    transition: .5s;

}

.thehead-bottom-img-hover1:hover .thehead-bottom-hover1 {
    top: 0;
}

.thehead-bottom-hover1 a {
    display: block;
    height: 20px;
    width: 90px;
    border-radius: 20px;
    background-color: #FE2C76;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
    margin: 126px auto;
}

.thehead-bottom-img-item:hover .thehead-bottom-hover {
    margin-top: 0;
}

.thehead-bottom-img-item:hover img {
    transform: scale(1.2);
}

.thehead-bottom-title-img ul {
    width: 300px;
    margin-top: 1px;
    height: 270px;
    margin-left: 50px;
}

.thehead-bottom-title-img ul li {
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    list-style-type: disc;
    color: #777;
}

.thehead-bottom-title-img ul li a {
    color: #777;
}
.thehead-bottom-title-img ul li:hover a{
    color: #FE2C76;
}
.thehead-bottom-title-img ul li:hover{
    color: #FE2C76;
}



/*鐗堟潈*/
.copyright {
    width: 100%;
    height: 400px;
    background-color: #212026;
    color: #999;
}

.copyright-top-warp {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.copyright-top {
    width: 1200px;
    height: 99px;
    margin: 0 auto;
}

.copyright-top .copyright-top-item {
    width: 300px;
    height: 99px;
    display: flex;
    align-items: center;
    float: left;
    justify-content: center;
}

.copyright-top-item:nth-of-type(1) {
    justify-content: inherit;
}

.copyright-top-item img {
    width: 47px;
    height: 47px;
    margin-right: 10px;
}

.copyright-top-item .copyright-top-item-title {
    font-size: 14px;
}

.copyright-top-item .copyright-top-item-title p:nth-of-type(1) {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.copyright-top .ml {
    padding-left: 89px;
    width: 211px;
}

.copyright-center {
    width: 1200px;
    height: 240px;
    margin: 0 auto;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.copyright-center-txt img {
    margin-top: 90px;
    margin-bottom: 10px;
}

.copyright-center-title {
    font-size: 18px;
    font-weight: 600;
    margin-top: 40px;
    color: #b5b5b5;
}

.line {
    width: 30px;
    height: 1px;
    background-color: #999;
    margin: 20px 0 10px 0;
}

.copyright-marginbottom {
    margin-bottom: 20px;
}

.copyright-center-img p:nth-last-child(1) {
    font-size: 12px;
    margin-top: 5px;
}

.copyright-bottom {
    width: 600px;
    height: 40px;
    font-size: 12px;
    color: #999;
    margin: 0 auto;
}

.copyright-bottom div {
    display: flex;
}

.copyright-bottom div a {
    color: #999;
}
.thehead-search-ss{
    cursor: pointer;
}

#banner-tc{
    width: 250px;
    height: 70px;
    background-color: rgba(0, 0, 0, .3);
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -125px;
    text-align: center;
    line-height: 200px;
    color: #333;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 3px 3px 5px #333;
    z-index: 50;
    overflow: hidden;
    display: none;
}
#banner-tc div{
    width: 240px;
    height: 60px;
    margin: 5px;
    background-color: #fff;
    color: #FE2C76;
    text-align: center;
    line-height: 60px;
    font-size: 16px;
}
.popup-warp{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99;
    background-color: rgba(0,0,0,.3);
    display: none;
}