<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/vertify.css" rel="stylesheet">
    <link href="../../asset/font-icon/iconfont.css" rel="stylesheet">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="../../asset/js/jqrotate.js"></script>
    <script src="js/vertify.js"></script>
    <script src="../../asset/js/common.js"></script>
</head>
<body>

<div class="vertify">
<div class="vertify_container">
<div class="slide_img">

</div>
</div>
<div class="slide_bar">
    <h1>向右滑动解锁</h1>
    <div class="slide_bar_container">
        <div class="slide_bar_btn">
            <div class="iconfont icon-youjiantou"></div>
        </div>
    </div>
</div>
<div class="result_logo">
    <div class="iconfont icon-cuowutishitianchong" id="show_result"></div>
</div>
    <div class="control">
        <div class="refresh">
            <div class="iconfont icon-shuaxin"></div>
        </div>
        <div class="guanbi">
            <div class="iconfont icon-guanbi"></div>
        </div>
    </div>
</div>
</body>
</html>