
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../js/post_survey_info.js"></script>
    <link href="survey.css" rel="stylesheet">
    <title>....&赵李杰发起的问卷调查</title>
</head>
<body>
<div class="container" style="display: none">
    <div class="title">gy</div>
    <div class="q1">
        <h1>did you forget the girl?</h1>
        <input type="radio" name="q1" class="anwser" value="A">
        <label>A早已忘怀</label></br>
        <input type="radio" name="q1" class="anwser" value="B">
        <label>B历久弥新</label></br>
        <input type="radio" name="q1" class="anwser" value="C">
        <label>C历历在目</label></br>
        <input type="radio" name="q1" class="anwser" value="D">
        <label>D时光不散，我们不见</label></br>
    </div>
    <div class="user_info">
        <input type="text" class="name" placeholder="姓名"><br/>
        <input type="number" class="id" placeholder="学号">
        <input type="button" class="post" value="提交" style="background-image: linear-gradient(90deg,#00aaff,#007AFF);color: white;border: 0px;">
    </div>
</div>
<div class="result" style="display: block;">
    <div class="title">gy结果</div>
    <div class="result_show"><h1>did you forget the girl?</h1> <div class="q q1">
        <div class="A" style="width: 67%;">A<p>早已忘怀</p><h2>2次</h2></div>
        <div class="B" style="width: 0%;">B<p>历久弥新</p><h2>0次</h2></div>
        <div class="C" style="width: 0%;">C<p>历历在目</p><h2>0次</h2></div>
        <div class="D" style="width: 33%;">D<p>时光不散，我们不见</p><h2>1次</h2></div>
    </div><h1>undefined</h1> <div class="q q2">
        <div class="A" style="width: 67%;">A<p>undefined</p><h2>2次</h2></div>
        <div class="B" style="width: 0%;">B<p>undefined</p><h2>0次</h2></div>
        <div class="C" style="width: 0%;">C<p>undefined</p><h2>0次</h2></div>
        <div class="D" style="width: 33%;">D<p>undefined</p><h2>1次</h2></div>
    </div></div>
</div>
<div class="source_info">
    <h1>-------来之赵李杰发起的调查</h1>
</div>
</body>
<script type="text/html" id="TPI">{"did you forget the girl?":"\u65e9\u5df2\u5fd8\u6000;\u5386\u4e45\u5f25\u65b0;\u5386\u5386\u5728\u76ee;\u65f6\u5149\u4e0d\u6563\uff0c\u6211\u4eec\u4e0d\u89c1","title":"gy_\u8d75\u674e\u6770"}</script>
</html>