<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/buy.css"/>
    <script src="../asset/js/check.js"></script>
</head>
<body>
    <div class="box">
        <div class="head">
            <div class="head_logo">
            </div>
            <div class="head_nav">
                <ul class="nav">
                    <li>iQOO专区</li>
                    <li>NEX系列</li>
                    <li>X系列</li>
                    <li>S系列</li>
                    <li>Z系列</li>
                    <li>Y系列</li>
                    <li>U系列</li>
                    <li>商场</li>
                    <li>粉丝福利</li>
                </ul>
            </div>
        </div>
        <div class="body">
            <div class="left">
            </div>
            <div class="right">
                <h1>VIVO X30 16G+512G超大内存</h1>
                <p>高通骁龙855旗舰处理器，
                    44W闪充，<br/> 超级液冷散热，
                    4D游戏震感2.0，<br/>Monster Touch压感</p>
                <div class="ver" ><p >全网通版本4GB+16GB</p></div>
                <div class="ver" ><p >全网通版本8GB+64GB</p></div>
                <div class="ver" ><p >全网通版本16GB+512GB</p></div>
                <div class="btn" onclick="success()" style="color: white">下单</div>
                <h2>活动价：￥5999</h2>
            </div>
        </div>
        <div class="cat">
            <div class="cat_son">
                <div class="sm"><img src="img/02.jpg" alt=""/></div>
                <div class="sm"><img src="img/31.jpg" alt=""/></div>
                <div class="sm"><img src="img/32.jpg" alt=""/></div>
                <div class="sm"><img src="img/33.jpg" alt=""/></div>
                <div class="sm"><img src="img/34.jpg" alt=""/></div>
                <div class="sm"><img src="img/35.jpg" alt=""/></div>
                <div class="sm"><img src="img/36.jpg" alt=""/></div>
                <div class="sm"><img src="img/37.jpg" alt=""/></div>
                <div class="sm"><img src="img/03.jpg" alt=""/></div>
                <div class="sm"><img src="img/06.jpg" alt=""/></div>
            </div>
    </div>

        </div>
    <script>
function success(){
    alert("    亲,余额不足，请及时充值！")
}
    </script>
</body>

</html>