<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
    *{
        margin: 0;
        padding: 0;
    }
</style>
<body style="">
<div class="container" style="width: 100%;height: 800px;height: 100vh;background-image:url('http://39.108.236.127/image/upload/xiaoyi.png');background-repeat: no-repeat;background-size: 100% 100%">
<div class="container" style="position: relative;width:500px;height: 300px;margin: 0px auto;background-color: rgba(74,130,209,0.81);box-shadow: 1px 1px 1px lightgreen;border-radius: 5px;">
    <div style="position:relative;width:100px;height: 100px;margin: 0 auto;"><img src="http://39.108.236.127/image/upload/xiaoyi_head.png" style="width:100%;height: 100%; border-radius: 50px;"></div>
    <h1 style="text-align: center;top:50px;font-size:15px;color: white">小姨生日快乐！</h1>
    <h1 style="text-align: center;font-size:15px;vertical-align: center;line-height: 28px;color: white;font-weight: lighter;">
        亲爱的小姨！明天就是你41岁的生日了哦！杰儿在这里祝小姨生日快乐！身体健康！越来越漂亮，还有新的一岁一切都顺顺利利！
    </h1>
    <div class="change_password" style="background-color: #00aaff;width:300px;position: relative;margin: 0 auto;height: 50px;top:30px;">
        <p style="text-align: center;font-size:15px;vertical-align: center;line-height: 50px;">
            你的侄儿：赵李杰
        </p>
    </div>
</div>
</div>
</body>
</html>